html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 13px;
  font-family: $f;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: em(25);
  padding-left: em(25);

  @include mq($mq-small) {
    padding-right: em(15);
    padding-left: em(15);
  }

  &--xlrg {
    max-width: calc(100vw - 20px);
  }

  &--lrg {
    max-width: em(1415);
  }

  &--md {
    max-width: em(1210);
  }

}

p {
  line-height: em(30);
  @include font-size(14);

  @include mq($mq-medium) {
    @include font-size(12);
  }

  &:not(:last-of-type) {
    margin-bottom: 1.5em;
  }

}

a {
  text-decoration: none;
  color: currentColor;
}

.no-scroll {
  overflow: hidden;
}

.logo {
  height: 150px;
  margin-left: -30px;
}

.iframe-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-bottom: 40px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

}



/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.page-contents {
  > * {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
