.back-to-top {
  position: sticky;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: auto;
  background: none;
  border: 0;
  color: $c-black;
  font-family: $f;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    .back-to-top__btn::after {
      transform: rotate(45deg) translateY(-2px) translateX(-2px);
    }
  }

  &__btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: $c-white;
    border-radius: 100%;
    margin-bottom: 10px;

    &::after {
      content: '';
      display: block;
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
      border-top: 3px solid $c-black;
      border-left: 3px solid $c-black;
      transition: all 0.3s ease;
    }

  }

}

.footer {
  position: relative;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: $c-black;
  color: $c-white;

  h2 {
    color: $c-white;
  }

  &__upper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 60px;
  }

  &__mid {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  }

  &__lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 60px;
    margin-top: 60px;
    border-top: 1px solid $c-white;
    flex-direction: column-reverse;

    @include mq($mq-small) {
      flex-direction: row;
    }

  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-top: 20px;

    @include mq($mq-small) {
      margin-top: 0;
    }

    svg {
      max-width: 80px;
      width: 100%;
    }

  }

  &__menu {
    @include font-size(14);
    font-weight: 600;

    &__link {

      &:hover {
        text-decoration: underline;
      }

    }

  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: $c-white;
    border: 1px solid transparent;
    border-radius: 100%;
    transition: all 0.3s ease;

    &:hover {
      background-color: $c-black;
      border-color: $c-gold;

      svg {
        path {
          fill: $c-gold;
        }
      }

    }

    svg {
      width: 20px;
      height: 20px;

      path {
        transition: all 0.3s ease;
      }

    }

  }

  &__links {
    position: relative;
    top: em(10);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__link {

    &:not(:last-child) {
      margin-right: em(15);
    }

  }

}

.footer-locations {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 100%;

  @include mq($mq-medium) {
    grid-gap: 40px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

.footer-location {
  margin-bottom: 20px;
  @include font-size(12);

  @include mq($mq-medium) {
    margin-bottom: 0;
  }

  &__address {
    line-height: 1.2;
  }

  &--full {
    grid-row-start: 1;
    grid-row-end: 5;
  }

  &__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    @include font-size(18);

    @include mq($mq-medium) {
      @include font-size(21);
    }
  }

  &__link {
    display: block;

    &:first-of-type {
      margin-top: 20px;
    }

  }

}

.footer-menu {
  margin-top: auto;
}

.footer-form {

  &__note {
    color: grey;
  }

}

.cookie-popup {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 20px 10px;
  line-height: 1.5;
  background-color: $c-black;
  color: $c-white;
  transition: all 0.3s ease;

  &.is-closed {
    transform: translateY(105%);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: $c-white;
    border: 0;
    height: 20px;
    width: 25px;
  }

  &__accept {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: $c-gold;
    border: 0;
    font-family: $f-secondary;
    font-weight: bold;
    cursor: pointer;
    color: $c-white;
    font-size: 14px;
  }

}
