.header {
  display: flex;
  justify-content: space-between;
  padding-top: em(25);
  padding-right: 20px;
  padding-left: 20px;

  &-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 12;
    color: $c-black;

    &--alt {
      color: $c-white;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      flex: 1;
      transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);

      &.is-hidden {
        opacity: 0;
        transform: translateY(-100%);
      }

    }

  }

  &__logo {
    width: 100px;

    @include mq($mq-large) {
      margin-right: 70px;
    }

  }

  &__links {
    display: flex;
    align-items: center;
    color: currentColor;
    @include font-size(16);
    text-transform: uppercase;
    font-weight: 300;

    &__link {
      display: none;

      @include mq($mq-large) {
        display: block;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

  }

}

.menu-btn {
  position: sticky;
  top: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  padding: 0 em(20);
  margin-left: em(-20);
  transform: translateX(20px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  @include font-size(16);
  text-transform: uppercase;
  color: currentColor;
  font-weight: 300;
  font-family: $f;
  cursor: pointer;
  overflow: hidden;
  transition: color 1s ease;
  contain: content;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: 'Close';
    background-color: transparent;
    color: $c-black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-102%);
    will-change: transform;
  }

  &.is-fixed {
    color: $c-black;

    .menu-toggle {
      background-color: $c-black;

      &::before {
        background-color: $c-black;
      }

    }

  }

  &.is-active {

    &::before {
      transform: none;
      background-color: transparent;
    }

    .menu-toggle,
    .menu-btn__text {
      opacity: 0;
    }

  }

}

.menu-toggle {
  position: relative;
  display: block;
  height: 2px;
  width: 18px;
  margin-left: em(7);
  background-color: currentColor;
  transition: background-color 1s ease;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transition: background-color 1s ease;
  }

  &::before {
    top: -5px;
  }

  &::after {
    top: 5px;
  }

}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 40px;
  z-index: 100;
  background-color: $c-white;
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  will-change: transform;

  &.is-active {
    transform: none;
    transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);

    .mobile-menu__link {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

      @for $i from 1 to 8 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.08) + 0.3s;
        }
      }

    }

  }

  &__links {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 40px;

    @include mq($mq-medium) {
      justify-content: center;
      padding-bottom: 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

  }

  &__link {
    position: relative;
    @include font-size(32);
    font-family: $f-secondary;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    color: $c-black;
    contain: content;

    a {
      display: block;
      padding: 5px 20px;
      transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      will-change: transform;
    }

    &:hover {

      a {
        color: $c-gold;
      }

    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include mq($mq-medium) {
        margin-bottom: 40px;
      }

    }

  }

}
