.news-page {
  padding-top: 120px;
  padding-bottom: 100px;

  img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
  }

  .title {
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: $f-secondary;
    color: $c-black;
  }

  h2 {
    @include font-size(30);

    @include mq($mq-medium) {
      @include font-size($s-beta);
    }
  }

  h3 {
    @include font-size(20);

    @include mq($mq-medium) {
      @include font-size($s-gamma);
    }
  }

  h4 {
    @include font-size(18);

    @include mq($mq-medium) {
      @include font-size($s-delta);
    }
  }

  h5,
  h6 {
    @include font-size(16);

    @include mq($mq-medium) {
      @include font-size($s-micro);
    }
  }

}
