.all-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;

  @include mq($mq-medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include mq($mq-large) {
    //margin-top: -70px;
  }

  &__project {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include mq($mq-medium) {
      width: calc(50% - 15px);
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
    }

  }

  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.1s !important;

    @include mq($mq-medium) {
      height: 420px;
    }

  }

  .lazy-container {
    position: relative;
    width: 100%;

    @include mq($mq-medium) {
      max-height: 500px;
    }

    @include mq(2560) {
      max-height: 1000px;
    }

    @include mq(3000) {
      max-height: 1500px;
    }

    img {
      position: absolute;
      height: 100%;
    }

    &::after {
      content: '';
      display: block;
      margin-bottom: 100%;
    }

    &.lazyloaded {

      + .title {
        opacity: 1;
        transform: none;
      }

    }

  }

  .title {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease 0.5s;
    will-change: transform;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    will-change: transform;

    &.lazyloaded {
      opacity: 1;
      transform: none;
    }

  }

  &__tag {
    display: flex;
    align-items: center;
    margin-right: 5px;
    text-transform: uppercase;
    @include font-size(14);

    &:not(:last-child) {

      &::after {
        content: '|';
        display: block;
        padding-left: 5px;
      }

    }

  }

  &__none {
    margin-bottom: 40px;
    @include font-size(20);
  }

}
