.brochure-download {
  margin-top: 260px;
  margin-bottom: 250px;
}

.brochure-download-form {
  margin: auto;
  max-width: 500px;

  label {
    @include font-size(10);
  }

  &__copy {
    margin-top: 100px;
    text-align: center;
  }

  form {
    padding-top: 40px;
  }

  .input {
    margin-bottom: 20px;
  }

  &__submit {
    text-transform: uppercase;
    background: none;
    border: 0;
    font-family: $f;
    @include font-size($s-micro);
    cursor: pointer;
    margin: 30px auto 0 auto;

    svg {
      width: 12px;
      height: 12px;
    }

  }

}
