.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -40px;

  @include mq($mq-small) {
    margin-right: -20px;
    margin-bottom: -60px;
  }

  @include mq($mq-large) {
    margin-right: -60px;
    margin-top: 40px;
  }

  &__logo {
    display: inline-flex;
    min-width: calc(calc(25% - 10px));
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100px;

    @include mq($mq-small) {
      min-width: calc(calc(25% - 20px));
      margin-right: 20px;
      margin-bottom: 20px;
      height: 150px;
    }

    @include mq($mq-large) {
      min-width: calc(calc(25% - 60px));
      margin-right: 60px;
      margin-bottom: 60px;
    }

    img {
      max-width: 100px;

      @include mq($mq-small) {
        max-width: 150px;
        margin: auto;
      }

      @supports (object-fit: cover) {
        object-fit: cover;
      }

    }
  }

}
