.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding-top: em(105);
  //padding-bottom: em(105);
  color: currentColor;

  .title {
    color: currentColor;
  }

  &__subtitle {
    text-transform: uppercase;
    @include font-size(16);

    &--sm {
      @include font-size(14);
    }

  }

  @include mq($mq-large) {
    flex-direction: row;
  }

  &-layout {

    &--primary {
      @include mq($mq-large) {
        flex-direction: row;
      }

      .content-block {

        &__col {

          &:not(:last-child) {
            margin-bottom: 40px;

            @include mq($mq-large) {
              margin-right: em(180);
              margin-bottom: 0;
            }

          }

          &--margin-sm:not(:last-child) {
            @include mq($mq-large) {
              margin-right: em(90);
            }
          }

        }

      }

    }

    &--secondary {
      flex-direction: column-reverse;

      @include mq($mq-large) {
        flex-direction: row-reverse;
      }

      .content-block {

        &__col {

          &:not(:first-child) {
            margin-top: 20px;
            margin-bottom: 20px;

            @include mq($mq-large) {
              margin-right: em(180);
              margin-bottom: 0;
            }

          }

        }

      }

    }

  }

  &__col {
    flex: 1;
    width: 100%;

    &--image {
      order: -1;
      margin-bottom: 1.25em;

      @include mq($mq-large) {
        order: 1;
        margin-bottom: 0;
      }

    }

    @include mq($mq-large) {

      &--wide {
        flex-basis: 15%;
      }

      &--single {
        width: 65%;
        flex: none;

        .content-block__content {
          width: 70%;
        }

      }

    }

  }

  a {
    display: flex;
    align-items: center;
    margin-top: em(30);
    text-transform: uppercase;
    @include font-size(14);
    font-weight: 300;

    &:hover {

      &::after {
        transform: translateX(5px);
      }

    }

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      margin-left: em(5);
      background-image: url('../img/chevron-right.svg');
      background-size: cover;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

  }

  .title + .content-block__content {
    //margin-top: em(35);
  }

  &__image {
    max-width: 100%;
    opacity: 0;
    transition: all 2s ease;

    &.lazyloaded {
      opacity: 1;
    }

  }

  &__image,
  .image-slider {
    //padding-top: em(45);
  }

  //@for $i from 1 to 10 {
  //  .lazy-content:nth-child(#{$i}) {
  //    transition-delay: $i * 0.15s;
  //  }
  //}

}

.content-block-container {
  //padding-top: 40px;
  //padding-bottom: 40px;
}

.content-block-container + .content-block-container {

  .content-block {
    //padding-top: 0;
  }

}
