.contact-block {
  position: relative;
  z-index: 1;
  text-align: center;

  &__copy {
    margin-top: em(25);
  }

  &__form-wrapper {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    max-width: 530px;
    width: 100%;
    margin-top: em(80);
    margin-bottom: em(40);
  }

  &__input {
    flex: 1;
    padding-top: em(20);
    padding-bottom: em(20);
    font-family: $f;
    border: 0;
    border-bottom: 1px solid $c-white;
    @include font-size(16);
    background: none;
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 em(20);
    border: 0;
    background: none;
    border-bottom: 1px solid $c-white;
    text-transform: uppercase;
    @include font-size(18);
    font-family: $f;
    font-weight: 600;
    color: $c-white;

    svg {
      width: em(13);
      height: em(13);
      margin-left: em(7);
      @include font-size(14);
      fill: $c-white;
    }

  }

  &__consent {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-size(14);
    font-weight: 600;

    label {
      cursor: pointer;
      text-align: left;

      @include mq($mq-medium) {
        text-align: center;
      }

    }

  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0;

    &:checked ~ .checkbox-wrap__check {

      &::after {
        display: block;
      }

    }

  }

  .checkbox-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 12px;
    min-height: 12px;
    margin-right: em(15);
    border: 1px solid $c-black;
    border-radius: 3px;
    cursor: pointer;

    @include mq($mq-medium) {
      margin-right: em(8);
    }

    &__check {
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      width: 10px;
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 10px;
        border: solid $c-black;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg) translateX(-50%) translateY(-50%);
        transform-origin: top;
      }

    }

  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: em(90);
    padding-bottom: em(60);

    @include mq($mq-medium) {
      flex-direction: row;
      padding-bottom: em(135);
    }

  }

  &__link {
    text-transform: uppercase;
    @include font-size(18);

    @include mq($mq-medium) {
      @include font-size(24);
    }

    &:not(:first-child) {
      padding-top: em(10);

      @include mq($mq-medium) {
        padding-top: 0;
        padding-left: em(27);
      }

    }

    &:not(:last-child) {
      padding-bottom: em(10);
      border-bottom: 2px solid $c-black;

      @include mq($mq-medium) {
        padding-right: em(27);
        padding-bottom: 0;
        border-right: 2px solid $c-black;
        border-bottom: 0;
      }

    }

  }

}
