.hero {
  position: relative;
  z-index: 11;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 40px;

  .title {
    color: $c-white;
    @include font-size(30);

    @include mq($mq-medium) {
      @include font-size($s-alpha);
    }

    @include mq($mq-xxlarge) {
      @include font-size(65);
    }

  }

  .btn {
    margin-top: auto;

    @include mq($mq-medium) {
      margin-top: 40px;
    }

  }

  .image-slider__buttons {
    bottom: 0;

    @include mq($mq-medium) {
      bottom: auto;
    }

  }

  .flickity-page-dots {
    display: none;
  }

  .container,
  .image-slider__contents {
    height: 100%;

    @include mq($mq-medium) {
      height: auto;
    }

  }

  .image-slider__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include mq($mq-medium) {
      display: block;
    }

    h1 {
      margin-top: auto;
      margin-bottom: 20px;

      @include mq($mq-medium) {
        margin-top: 0;
        margin-bottom: 0;
      }

    }

  }

  .project-back {
    bottom: -20px;

    @include mq($mq-medium) {
      position: absolute;
      bottom: 20px;
    }

  }

}

.project-details {
  position: absolute;
  top: 40%;
  flex-direction: column;
  padding: 0;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  right: 20px;
  color: $c-white;
  align-items: flex-end;

  @include mq($mq-medium) {
    right: em(150);
    align-items: flex-start;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    text-align: right;
    @include font-size(12);

    &:not(:last-child) {
      margin-bottom: em(25);
    }

    @include mq($mq-medium) {
      text-align: left;
      @include font-size(16);
    }

  }

  &__title {
    display: block;
    margin-bottom: em(5);
    text-transform: uppercase;
    font-weight: 300;
  }

}
