.images-block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: em(15);
  align-items: stretch;

  @include mq($mq-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq($mq-large) {
    grid-gap: em(30);
  }

  &--triple {
    grid-gap: em(15);

    @include mq($mq-large) {
      grid-gap: em(30);
    }

    @include mq($mq-medium) {
      grid-template-columns: repeat(3, 1fr);
    }

    .images-block__image {

      &:nth-child(2) {
        justify-self: center;
      }

      &:nth-child(3) {
        justify-self: end;
      }

    }

  }

  &--double {
    @include mq($mq-medium) {
      grid-template-columns: 2fr 1fr;
    }

    .images-block__image:last-child {
      justify-self: end;
    }

  }

  .lazy-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__flex-container {
    display: flex;
    justify-content: center;
  }

  &__image {
    display: block;
    height: 100%;
    //max-width: 100%;
    //height: auto;
    object-fit: cover;
    //min-height: 533px;
    max-height: 450px;
    width: 100%;

    @include mq($mq-medium) {
      max-height: unset;
      width: auto;
    }

    &--half-height {
      //min-height: 253px;
    }

    &--full {
      display: flex;
      max-width: 100%;
      height: auto;
      width: 100%;

      @supports (object-fit: cover) {
        object-fit: contain;

        @include mq($mq-medium) {
          height: 900px;
          object-fit: cover;
        }

      }

    }

  }

  &__col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: em(15);

    .images-block__image--half-height {
      width: 100%;
    }

    &.lazy-container {
      flex-direction: column;
      justify-content: space-between;
    }

    @include mq($mq-medium) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, 1fr);
      grid-column: auto;

      .images-block__image--half-height {
        width: auto;
      }

    }

    @include mq($mq-large) {
      grid-gap: em(30);

      .images-block__image-container {

        &:nth-child(1),
        &:nth-child(2) {
          justify-self: end;
        }

        &:nth-child(2) {
          align-self: end;
        }

      }

    }

  }

}
