.image-slider {
  position: relative;
  height: 900px;
  height: calc(var(--vh, 1vh) * 100);
  max-height: 100vh;
  width: 100%;
  overflow: hidden;

  &--sm {
    height: auto;
  }

  &--outer-dots {
    overflow: visible;

    .flickity-page-dots {
      top: calc(100% + 20px);
      height: 25px;

      .dot {
        border-color: $c-black !important;

        &.is-selected {
          background-color: $c-black !important;
        }
      }

    }

  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $c-black;
    opacity: 0.4;
    pointer-events: none;
  }

  &__slider {
    background-color: $c-black;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    height: 900px;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 100vh;
    width: 100%;
    transition: all 1.5s ease-in-out !important;
    background-size: cover;
    background-position: center;

    pointer-events: none;
    z-index: 0;
    opacity: 0 !important;

    @include mq($mq-medium) {
      justify-content: center;
      padding-bottom: 0;
    }

    &--sm {
      height: 400px;
    }

    &.is-selected {
      pointer-events: auto;
      z-index: 1;
      opacity: 1 !important;

      .image-slider__title {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition: all 1.5s ease-in-out;
      }

    }

    a {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      z-index: 2;
      color: $c-white;
      @include font-size(14);
      text-transform: uppercase;

      svg {
        width: 10px;
        height: 10px;
        fill: $c-white;
      }

    }

    &--alt {
      align-items: flex-start;

      a {
        justify-content: flex-start;
      }

    }

  }

  &__title {
    position: relative;
    z-index: 2;
    width: 100%;
    color: $c-white;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: opacity 1s ease-in-out 0s, visibility 1s ease-in-out 0s, transform 1s cubic-bezier(0.19, 1, 0.22, 1) 1s;

    @include mq($mq-medium) {
      width: 50%;
    }

    &--wide {

      @include mq($mq-medium) {
        width: 70%;
      }

    }

  }

  &__contents {
    width: 100%;

    @include mq($mq-medium) {
      width: 50%;
    }

    &--wide {

      @include mq($mq-medium) {
        width: 70%;
      }

    }

  }

  &__controls {
    display: flex;
    align-items: center;

    &--absolute {
      position: absolute;
      bottom: 20px;
      right: 20px;

      @include mq($mq-medium) {
        right: em(55);
        bottom: 300px;
      }

      .image-slider__buttons {
        right: 0;

        @include mq($mq-medium) {
          right: 45px;
        }

      }

    }

  }

  &__buttons {
    position: absolute;
    bottom: 100px;
    right: 45px;
    z-index: 1;
    display: flex;
    flex-direction: column;

    @include mq($mq-medium) {
      top: 50%;
      bottom: auto;
    }

  }

  &__button {
    background: none;
    border: 0;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

    svg {
      width: 15px;
      height: 15px;
    }

    path {
      fill: $c-white;
    }

    &--next {

      &:hover {
        transform: translateX(10px);
      }

    }

    &--prev {

      &:hover {
        transform: translateX(-10px);
      }

      svg {
        transform: rotate(180deg);
      }

    }

    &:not(:last-child) {
      margin-bottom: em(15);
    }

  }

  .flickity-page-dots {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    right: 23px;
    bottom: 80px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;

    @include mq($mq-medium) {
      justify-content: center;
      right: 0;
      bottom: 100px;
    }

  }

  .flickity-rtl .flickity-page-dots {
    direction: rtl;
  }

  .flickity-page-dots .dot {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid $c-gold;
    border-radius: 100%;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: em(10);
    }

  }

  .flickity-page-dots .dot.is-selected {
    background-color: $c-gold;
  }

  &__nav {
    display: flex;
    margin-left: auto;
    margin-right: -40px;

    &--outer {
      position: absolute;
      top: calc(100% + 60px);
      left: 50%;
      margin-left: 0;
      margin-right: 0;
      transform: translateX(-50%) !important;
    }

  }

  &__link {
    display: flex;
    margin-top: em(20);
    color: $c-white;
    text-transform: uppercase;
    @include font-size(16);
    font-weight: 600;

    svg {
      width: 12px;
      height: 12px;
    }

    path {
      fill: $c-white;
    }

  }

  &__subtitle {
    display: block;
    margin-top: em(12);
    color: $c-white;
    @include font-size(14);
    text-transform: uppercase;

    @include mq($mq-medium) {
      @include font-size(18);
    }

    &--bottom {
      margin-top: em(12);
      font-family: $f-secondary;
      @include font-size(20);
      text-transform: none;

      @include mq($mq-medium) {
        @include font-size(34);
      }

    }

  }

}
