.locations-grid {

  &__image {
    align-self: flex-start;
    min-height: 400px;
    max-width: 560px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;

    @include mq($mq-large) {
      min-height: 610px;
      flex: 1;
      align-self: initial;
      overflow: hidden;
    }

  }

  &__featured {
    margin-bottom: 60px;

    @include mq($mq-large) {
      margin-bottom: 115px;
    }

    .locations-grid__item {
      width: 100%;
      align-items: center;

      @include mq($mq-large) {
        flex-direction: row;
      }

      &:nth-child(odd) {
        margin-right: 0;
      }

    }

    .locations-grid__image {

      @include mq($mq-large) {
        margin-right: 15px;
      }

    }

    .locations-grid__content {
      margin-bottom: 0;
      width: 100%;

      @include mq($mq-large) {
        margin-top: 0;
        width: auto;
      }

    }

  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include mq($mq-large) {
      flex-direction: row;
    }

  }

  &__item {
    display: flex;
    flex-direction: column;

    @include mq($mq-large) {
      width: calc(50% - 15px);

      &:nth-child(odd) {
        margin-right: 15px;
      }

      &:nth-child(even) {
        margin-left: 15px;
      }

    }

  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
    @include font-size(16);
    @include line-height(16, 22);

    @include mq($mq-large) {
      margin-bottom: 105px;
      margin-left: 15px;
    }

    &__inner {

      @include mq($mq-large) {
        padding-left: 120px;
      }

    }

    .arrow-link__arrow svg {
      width: 10px;
      height: 10px;
    }

  }

  &__country {
    text-transform: uppercase;
  }

  address {
    padding-top: 25px;
  }

  &__phone {
    display: block;
  }

  &__email {
    padding-top: 20px;
    word-break: break-all;
    align-items: baseline;
    @include font-size(13);
  }

}
