.more-projects {
  padding: em(170) 20px;

  &__title {
    margin-bottom: em(16);
    font-weight: 300;
  }

  &__projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: em(40);

    @include mq($mq-medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: em(30);
    }

    .title {
      margin-bottom: 10px;
    }

  }

  &__all {
    margin-top: 60px;
  }

  &__project-container {
    display: flex;
    flex-direction: column;
  }

  &__project {
    display: flex;
    flex-direction: column;
    @include font-size(14);
    font-weight: 600;

    svg {
      width: 10px;
      height: 10px;
    }

    @for $i from 1 to 3 {
      &:nth-child(#{$i}) {
        .lazy-bg {
          transition-delay: $i * 0.35s;
        }
      }
    }

  }

  &__image-container {
    position: relative;
    width: 100%;
    margin-bottom: em(15);
    overflow: hidden;

    @include mq($mq-medium) {
      max-height: 500px;

      img {
        position: absolute;
      }

      &::after {
        content: '';
        display: block;
        margin-bottom: 100%;
      }

    }

  }

  &__image {
    height: 100%;
    width: 100%;
    max-width: 100%;
    transition: transform 4s cubic-bezier(0.19, 1, 0.22, 1) 0.1s !important;

    @supports (object-fit: cover) {
      object-fit: contain;

      @include mq($mq-medium) {
        object-fit: cover;
      }

    }

  }

}
