.news-grid-container {
  padding-bottom: 40px;

  &__view-more {
    margin: auto;
    background: none;
    border: 0;
    cursor: pointer;
  }

  .arrow-link {
    text-transform: uppercase;
    font-family: $f;

    svg {
      position: relative;
      top: -1px;
      width: 8px;
      height: 8px;
    }

  }

}

.news-grid {
  display: flex;
  max-width: 1356px;
  margin: auto auto 30px auto;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;

  @include mq($mq-small) {
    padding-right: 0;
  }

  @include mq($mq-large) {
    padding-left: 30px;
  }

}

.news-grid-image {
  position: relative;
  display: flex;
  color: $c-white;
  background-color: $c-secondary;
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
  align-content: center;

  &__bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include mq($mq-small) {
    width: 55%;
    margin: auto;
  }

  @include mq($mq-medium) {
    width: calc((100% / 3) - 15px);
    margin-bottom: 15px;
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &:hover {

    .news-grid-image__overlay {
      opacity: 1;
      visibility: visible;
    }

  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($c-gold, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $c-white;
    padding-right: 20px;
    padding-left: 20px;

    &--mobile {
      position: relative;
      top: -50px;
      right: auto;
      bottom: auto;
      left: auto;
      width: 90%;
      margin: auto;
      color: $c-black;
      background-color: $c-white;
      padding: 20px 10px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);

      .title {
        margin-bottom: 10px;
      }

      @include mq($mq-small) {
        width: 50%;
      }

      @include mq($mq-medium) {
        display: none;
      }

    }

    .title {
      width: 100%;
      word-break: break-word;
      color: currentColor;
      @include font-size($s-gamma);

      @include mq($mq-xlarge) {
        @include font-size(30);
      }

    }

    .arrow-link {
      margin-top: 15px;
      text-transform: uppercase;
    }

    svg {
      position: relative;
      top: 1px;
      width: 10px;
      height: 10px;
      fill: $c-white;
    }

  }

}
