.page-title {
  margin-top: 150px;
  margin-bottom: 50px;

  @include mq($mq-large) {
    margin-top: 200px;
    margin-bottom: 150px;
  }

  &--spacing-sm {
    margin-top: 0;
    margin-bottom: em(-105);

    .title {
      margin-bottom: em(16);
    }

  }

  &--sm {

    @include mq($mq-large) {
      margin-bottom: 75px;
    }

  }

  &__sub-title {
    text-transform: uppercase;
  }

  &--center {
    text-align: center;

    .page-title__inner {
      display: inline-block;
      text-align: left;
    }

  }

  .btn {
    margin-top: 30px;
  }

}
