.quote-block {
  padding: em(145) em(40) em(145);
  width: 100%;

  @include mq($mq-medium) {
    padding-right: em(65);
    padding-left: em(65);
  }

  &__quote {
    position: relative;
    display: inline-flex;
    padding-right: 15px;
    margin-bottom: 40px;
    @include font-size(30);
    font-family: $f-quaternary;
    color: $c-gold;
    letter-spacing: 0.1rem;
  }

  &__author {
    @include font-size(14);
    text-transform: uppercase;
  }

}

.quote-mark {
  position: absolute;

  svg {
    width: 25px;
    height: 25px;
    fill: $c-gold;
  }

  &--left {
    top: -10px;
    right: calc(100% + 10px);

    @include mq($mq-medium) {
      right: calc(100% + 25px);
    }

  }

  &--right {
    bottom: -20px;
    left: calc(100% + 12px);
  }

}
