.showcase-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: em(20);
  background-color: $c-gold;

  @include mq($mq-small) {
    padding: em(60);
  }

  @include mq($mq-medium) {
    padding: em(135);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    max-width: 100%;
  }

}
