.social-block {
  text-align: center;

  &__title {
    margin-bottom: em(16);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    text-transform: uppercase;
    font-weight: 300;

    svg {
      width: 15px;
      height: 15px;
      margin-right: em(8);
    }

  }

  &__images {
    display: flex;
    justify-content: center;

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }

  }

  &__image {
    width: calc(100% / 3);
    border: 1px solid $c-white;
    background-color: $c-white;

    @include mq($mq-small) {
      width: calc(100% / 4);
    }

    @include mq($mq-medium) {
      width: calc(100% / 6);
    }

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      @supports (object-fit: cover) {
        object-fit: cover;
      }

    }

  }

}
