.video-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 800px;
  height: auto;

  &::after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }

  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid $c-white;
    border-radius: 100%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-color: darken($c-white, 35);

      &::after {
        border-left-color: darken($c-white, 35);
      }

    }

    &::after {
      position: relative;
      left: 5px;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 30px;
      border-top-width: 17px;
      border-bottom-width: 18px;
      border-left-color: $c-white;
      transition: all 0.2s ease-in-out;
    }

  }

  &.is-active {

    .video-container__thumbnail {
      opacity: 0;
      visibility: hidden;
    }

    iframe {
      opacity: 1;
      visibility: visible;
    }

  }

}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
