.arrow-link {
  display: flex;
  align-items: center;

  &:hover {
    .arrow-link__arrow {
      transform: translateX(5px);
    }
  }

  &__arrow {
    display: inline-flex;
    margin-left: em(7);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

}
