.btn {
  position: relative;
  padding: 10px 25px;
  font-family: $f-secondary;
  background: none;
  border: 0;
  @include font-size(18);
  cursor: pointer;
  transition: color 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  contain: content;
  color: $c-white;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    background: $c-gold;
  }

  &::after {
    background-color: transparent;
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-105%);
    will-change: transform;
  }

  &:hover {

    &::after {
      transform: none;
    }

  }

}
