.filter-box {
  display: flex;
  align-items: flex-start;
  padding-bottom: 60px;
  flex-direction: column;

  @include mq($mq-medium) {
    flex-direction: row;
    align-items: center;
  }

  &__filters-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @include mq($mq-medium) {
      margin-right: 60px;
      margin-bottom: 0;
    }

  }

  &__title {
    margin-bottom: 5px;
    text-transform: uppercase;
    @include font-size(16);
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
  }

  &__filter {
    display: flex;
    font-family: $f-secondary;
    @include font-size($s-gamma);

    &:not(:last-child) {

      &::after {
        content: '&';
        display: block;
        margin-left: 10px;
        margin-right: 10px;
      }

    }

  }

  &__btn {
    border: 0;
    font-family: $f;
    @include font-size(16);
    color: $c-black;
    padding: 15px 20px;
    cursor: pointer;
    min-width: 110px;
    transition: all 0.3s ease;

    &:hover {
      color: $c-gold;
    }

  }

}
