.input {
  flex: 1;
  width: 100%;
  padding-top: em(20);
  padding-bottom: em(20);
  font-family: $f;
  border: 0;
  border-bottom: 1px solid $c-black;
  @include font-size(16);
  background: none;
  resize: none;

  &--white {
    border-bottom-color: $c-white;
  }

}
