.image-hover {

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
  }

  &::before {
    border-top: 20px solid rgba($c-white, 0.9);
    border-left: 20px solid rgba($c-white, 0.9);
    transform-origin: top left;
    transform: translate(-20px, -20px);
    will-change: transform;
  }

  &::after {
    border-right: 20px solid rgba($c-white, 0.9);
    border-bottom: 20px solid rgba($c-white, 0.9);
    transform-origin: bottom right;
    transform: translate(20px, 20px);
    will-change: transform;
  }

  &:hover {

    &::before,
    &::after {
      transform: none;
      opacity: 1;
    }

  }
}
