.lazy-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  background-color: $c-white;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  will-change: transform;

  &--outh {
    background: none;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: 50%;
      width: 100%;
      background-color: $c-white;
      transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    }

    &::before {
      top: 0;
    }

    &::after {
      top: 50%;
    }

  }

}

.lazy-img {
  transform: translateX(-100px);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  will-change: transform;

  &--right {
    transform: translateX(100px);
  }

  &--out,
  &--outh {
    transform: scale(0.9);
  }

  &--outh {
    transition-delay: 0s;
  }

  &--outa {
    transform: scale(1.1);
    transition: transform 5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
  }

  &--fade {
    opacity: 0;
    transition: opacity 0.6s ease;
  }

}

.lazy-container {
  position: relative;
  overflow: hidden;

  &.lazyloaded {

    .lazy-bg {
      transform: translateX(100%);

      &--right {
        transform: translateX(-100%);
      }

      &--out {
        transform: scaleX(0);
      }

      &--outh {
        transform: none;

        &::before {
          transform: translateY(-100%);
        }

        &::after {
          transform: translateY(100%);
        }

      }

    }

    .lazy-img {
      transform: none;

      &--fade {
        opacity: 1;
      }

    }

  }

}

.lazy-content {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 2.25s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 2.25s cubic-bezier(0.19, 1, 0.22, 1) 0.18s;

  @for $i from 1 to 10 {
    &:nth-child(#{$i}) {
      transition-delay: $i * 0.2s;
    }
  }

  &--delay {
    @for $i from 1 to 10 {
      &:nth-child(#{$i}) {
        transition-delay: ($i * 0.2s) + 0.8s;
      }
    }
  }

  &--right {
    transform: translateX(-20px) translateY(0);
  }

  &.lazyloaded {
    opacity: 1;
    transform: none;
  }

}

.lazy-content-container {

  h2,
  div,
  span,
  a,
  address {
    opacity: 0;
    transform: translateX(-20px);
    transition: transform 2.25s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 2.25s cubic-bezier(0.19, 1, 0.22, 1) 0.18s;

    @for $i from 1 to 10 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.15s;
      }
    }

  }

  &--vertical {

    h2,
    div,
    span,
    a,
    address {
      transform: translateX(0) translateY(-20px);
    }

  }

  &.lazyloaded {

    h2,
    div,
    span,
    a,
    address {
      opacity: 1;
      transform: none;

    }

  }

}

.lazy-borders {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  pointer-events: none;

  &__border {
    position: absolute;
    background-color: $c-white;
    transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    will-change: transform;

    &--top,
    &--bottom {
      width: 100%;
      height: 100%;
      right: 0;
      left: 0;
      transform: scaleY(0.25);
    }

    &--right,
    &--left {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      transform: scaleX(0.25);
    }

    &--top {
      top: 0;
      transform-origin: top;
    }

    &--right {
      right: 0;
      transform-origin: right;
    }

    &--bottom {
      bottom: 0;
      transform-origin: bottom;
    }

    &--left {
      left: 0;
      transform-origin: left;
    }

  }

}

.lazy-borders-hover {

  &:hover {

    .lazy-container.lazyloaded .lazy-img {
      transform: scale(1.02);
    }

    .lazy-borders__border--top,
    .lazy-borders__border--bottom {
      transform: scaleY(0.02);
    }

    .lazy-borders__border--right,
    .lazy-borders__border--left {
      transform: scaleX(0.02);
    }

  }

}

.lazyloaded {
  .lazy-borders {
    &__border {
      &--top,
      &--bottom {
        transform: scaleY(0);
      }

      &--right,
      &--left {
        transform: scaleX(0);
      }
    }
  }
}
