.search-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
  padding: 10px;
  background-color: $c-white;
  color: $c-black;
  transition: opacity 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  opacity: 0;
  visibility: hidden;
  will-change: transform;
  overflow: scroll;

  @include mq($mq-medium) {
    padding: 40px;
  }

  &.is-active {
    opacity: 1;
    visibility: visible;

    .search-window__close,
    .terms__title,
    .terms__items {
      transform: none;
      opacity: 1;
    }

    .terms__column {

      @for $i from 1 to 6 {
        &:nth-child(#{$i}) {

          .terms__title,
          .terms__items {
            transition-delay: ($i * 0.1) + 0.3s;
          }

        }
      }

    }

  }

  &__close {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 20px;
    text-transform: uppercase;
    font-family: $f;
    color: $c-black;
    background-color: transparent;
    border: 0;
    @include font-size(14);
    cursor: pointer;
    overflow: hidden;
    contain: content;
    transform: translateX(20px);
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    opacity: 0;

    @include mq($mq-small) {
      padding: 34px 24px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transform: translateX(-105%);
      transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
      will-change: transform;
    }

    &:hover {
      color: $c-black;
      transition: color 1.5s cubic-bezier(0.19, 1, 0.22, 1);

      &::after {
        transform: none;
      }

    }

  }

}

.terms {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 100px;
  text-align: right;

  @include mq($mq-medium) {
    padding-top: 150px;
  }

  &__column {
    width: calc(25% - 10px);
    min-width: 225px;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-family: $f-secondary;
    @include font-size(18);
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    opacity: 0;
    transform: translateX(20px);

    &--all {
      margin-bottom: 30px;
      cursor: pointer;

      &:hover {
        color: $c-gold;
      }

    }

  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(20px);
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
    will-change: transform;
    opacity: 0;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0;
    @include font-size(13);
    overflow: hidden;
    cursor: pointer;
    contain: content;
    transition: color 1.5s cubic-bezier(0.19, 1, 0.22, 1);

    &::before {
      content: '';
      position: relative;
      top: -2px;
      display: flex;
      padding-right: 20px;
      z-index: -1;
      @include font-size(22);
      transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
      transform: translateX(-105%);
      will-change: transform;
    }

    &:hover,
    &.is-active {
      color: $c-gold;

      &::before {
        transform: none;
      }

    }

    &.is-active {

      &::before {
        content: '\00d7';
      }

    }

  }

}
