.title {
  margin-bottom: 20px;
  font-family: $f-secondary;
  color: $c-black;
  @include font-size(40);
  line-height: 1.1;

  @include mq($mq-medium) {
    @include font-size($s-alpha);
  }

  &--sm {
    @include font-size(30);

    @include mq($mq-medium) {
      @include font-size($s-beta);
    }

  }

  &--xsmm {
    @include font-size(20);

    @include mq($mq-medium) {
      @include font-size(30);
    }

  }

  &--xsm {
    @include font-size(20);

    @include mq($mq-medium) {
      @include font-size($s-gamma);
    }

  }

  &--center {
    text-align: center;
  }

  &--block {
    display: block;
  }

  &--alt {
    font-family: $f-tertiary;
  }

}
