@font-face {
  font-family: 'Rozha One';
  src: local('Rozha One Regular'), local('RozhaOne-Regular'),
  url('../fonts/RozhaOne-Regular.woff2') format('woff2'),
  url('../fonts/RozhaOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), local('Raleway-Regular'),
  url('../fonts/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
  url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
  url('../fonts/Raleway-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Freight Big W01 Medium Regular';
  src: local('Freight Big W01 Medium Regular'), local('Freight Big W01 Medium Regular'),
  url('../fonts/Freight-Medium.woff2') format('woff2'),
  url('../fonts/Freight-Medium.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Freight Big W01 Book Regular';
  src: local('Freight Big W01 Book Regular'), local('Freight Big W01 Book Regular'),
  url('../fonts/Freight-Book.woff2') format('woff2'),
  url('../fonts/Freight-Book.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Freight Big Book Italic';
  src: local('Freight Big Book Italic'), local('Freight-BigBookItalic'),
  url('../fonts/Freight-BigBookItalic.woff2') format('woff2'),
  url('../fonts/Freight-BigBookItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
