// Media Queries
@mixin mq($mw, $dir: 'width') {
  @media screen and (min-#{$dir}: #{($mw / 16) + 'em'}) {
    @content;
  }
}

// Font size
@mixin font-size($px) {
  font-size: #{($px / 16) + 'rem'};
}

// Line height
@mixin line-height($font-size, $line-height) {
  line-height: $line-height / $font-size;
}

// Tracking
@mixin tracking($ps) {
  letter-spacing: #{($ps / 1000) + 'em'};
}

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
