// Fonts
$f: 'Raleway', sans-serif;
$f-secondary: 'Freight Big W01 Medium Regular', serif;
$f-tertiary: 'Freight Big W01 Book Regular', serif;
$f-quaternary: 'Freight Big Book Italic', serif;

// Weights
$we-light: 300;
$w-normal: 400;
$w-bold: 600;

// Headings
$s-alpha: 52;
$s-beta: 40;
$s-gamma: 24;
$s-delta: 18;
$s-micro: 16;

// Animation
$a: 0.2s ease-in-out;
$a-slow: 0.4s ease-in-out;

// Media Queries
$mq-xxlarge: 1441;
$mq-xlarge: 1140;
$mq-large: 960;
$mq-medium: 640;
$mq-small: 420;

// Colours
$c-black: #000;
$c-white: #fff;
$c-gold: #8f8a6f;

$c-primary: #fff;
$c-secondary: #000;
$c-tertiary: #f2f2f2;
